<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-buttons end>
      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cuentas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h6 ion-text color="primary" *ngIf="accounts?.length == 0">No existen cuentas aún :(</h6>
  <ion-list *ngIf="accounts?.length > 0">
    <ion-item *ngFor='let account of accounts'>
      {{account.name}} / {{account.type}}
    </ion-item>
  </ion-list>
  <button ion-button block (click)="onRequestAccount()">Solicitar nueva cuenta</button>
</ion-content>
