<ion-header>

  <ion-navbar>
    <ion-title left>Ingresar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit) = "signIn(f.value)" #f="ngForm">
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="text" name="email" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" name="password" ngModel required></ion-input>
    </ion-item>
    <button ion-button block color="secondary" [disabled]="!f.valid">Ingresar</button>
  </form>
  <button ion-button block color="primary" (click)="signUp()" small clear>Nuevo usuario</button>
</ion-content>
