<ion-header>

  <ion-navbar>
    <ion-title>Solicitar cuenta</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
      <ion-label>Tarjeta</ion-label>
      <ion-select [(ngModel)]="card">
        <ion-option *ngFor="let catalog of catalogs" [value]="catalog">{{catalog.name}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block [disabled]="!card" (click)="requestCard()">
      Solicitar tarjeta
    </button>
</ion-content>
