<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit) = "signUp(f.value)" #f="ngForm">
    <ion-item>
      <ion-label>Nombre(s)</ion-label>
      <ion-input type="text" required ngModel name="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input type="text" required ngModel name="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="email" required ngModel name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" required ngModel name="password"></ion-input>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!f.valid">Registrar</button>
  </form>
</ion-content>
